[submodule "systems_programming"]
	path = systems_programming
	url = git@github.com:laurthompson0-school-projects/systems_programming.git
[submodule "static_program_analysis"]
	path = static_program_analysis
	url = git@github.com:laurthompson0-school-projects/static_program_analysis.git
[submodule "smart_home"]
	path = smart_home
	url = git@github.com:laurthompson0-school-projects/smart_home.git
